
footer
    .icons
        a
            &:hover
                text-decoration none
        i
            margin 0 1.5rem 1rem 1.5rem
            &:hover
                color $accent
    .copyright
        font-size .9rem
