
header
    cf()
    height 15rem
    #logo
        position relative
        top 50%
        transform translateY(-50%)
        width 9rem
        float left
    nav
        float right
        position relative
        top 50%
        transform translateY(-50%)
        a
            font-size 1.1rem
            font-weight 600
            display inline
            color $text
            text-decoration none
            padding 0 1rem 0 1rem
            &:visited
                color $text
            &:hover
                text-decoration none
                color $accent
