
<h2>Facts</h2>
<h3>Do your own research</h3>

<div class="text-area">

    <p><span class="emph">$4 Million Unaccounted For</span> - In May 2014, Town Administrator Jack Hathaway <a href="https://www.youtube.com/watch?v=q2FviVUVrm8&t=9060" target="_blank">stated</a> and later <a href="https://www.youtube.com/watch?v=q2FviVUVrm8&t=9765" target="_blank">confirmed</a> that the project would cost only $10 Million. The amount of the proposed override is now $14 million, with no explanation for how that extra $4 million will be used.</p>

<!--
    <p><span class="emph">Inconsistent Justifications</span> - In _________, Police Chief Chuck Stone <a href="#a_link" target="_blank">_____i dont know what he actually said____</a>. But in <a href="https://www.youtube.com/watch?v=q2FviVUVrm8&t=9475" target="_blank">May 2014 he stated that</a> "99% of the time we're out on the road already" when responding to a call. If officers are already in their cars for 99% of calls, defrosting shouldn't be an issue.</a></p>
-->

</div>
