
<h2>Resources</h2>
<h3>Do your own research</h3>

<div class="text-area">
    <p>How does "$ 10 million is for the full project" become a $14 million dollar project in the matter of a year and a half ?

Do we need garages when and I quote 

How does our proposed rental income of $60,000 with 2.5% escalators become "$40-60,000 in rent" ?  And don't we have to pay 25% of that rent anyway? </p>
    

<a href="https://www.youtube.com/v/q2FviVUVrm8?start=8910&end=9270&autoplay=1">Jack Hathaway @ town meeting:</a>

time 2:43:13

</div>
