
<h2>Resources</h2>
<h3>Do your own research</h3>

<div class="text-area">
    <p>We believe that this override is unnecessary, fiscally irresponsible, and against the best interests of Norfolk residents. But don't just take our word for it! Take a look at the sources below to see how we came to these conclusions.</p>
    <div class='source'>
        <p><a href='#budget' class='title'>Police &amp; Fire Budget</a> - The Norfolk Police and Fire Department budget for fiscal year 2014. In particular, take a look at the amount of money spent on aslkdjf, alsdkfj, and alksdjfaldk.</p>
    </div>
    <div class='source'>
        <p><a href='#history' class='title'>Taxation History</a> - A summary of tax increases and budget overrides in recent years.</p>
    </div>
</div>
