
<h2>What</h2>
<h3>What are you voting on?</h3>

<div class="text-area">
    <p>The town is looking to collect an <span class="emph">extra</span> $14 Million from taxpayers. If the override passes on January 19th, the town will construct a new police station on Sharon Ave. in Norfolk. With any remaining money, the current public safety building in the center of town will be renovated and expanded to become the new fire station.</p>
    <p class="short">A <span class="emph">YES</span> vote supports the override.</p>
    <p class="short">A <span class="emph">NO</span> vote opposes the override.</p>
</div>
