
<h2>Why</h2>
<h3>How does this affect you?</h3>

<div class="text-area">
  <p>This year alone, Norfolk has raised your taxes to ______, and they are now seeking a $14 Million budget override on top of that.</p>
  <p>Furthermore, the town is <span class='emph'>actively</span> attempting to subvert the democratic process. Instead of putting the question on the regular ballot (when all Norfolk residents coming to the polls would have an opportunity to voice their opinion), they have set up a special election date in hopes that potential objectors would miss the election date.</p>
  <p>The purpose of the <span class='emph'>Stop Norfolk Tax</span> campaign is to counteract these underhanded tactics by spreading awareness of the proposed override and the scheduled ballot.  By ensuring that Norfolk residents are informed about this important decision, we put the power back in the hands of the taxpayers.</p>
  <p>By coming to the Freeman Kennedy School on January 19 and casting a NO vote, you send a clear message to the town administration: What Norfolk does with <span class='emph'>your</span> money should be <span class='emph'>your</span> decision.
</div>
