
<h2>Why</h2>
<h3>How does this affect you?</h3>

<div class="text-area">
    <p>Norfolk property owners pay higher tax bills than in <a href="http://www.thesunchronicle.com/news/local_news/property-tax-rates-in-attleboro-area-rising-faster-than-inflation/article_f611de86-0d90-503c-922b-409e23e31f8a.html" target="_blank">any other town</a> in the Attleboro area. Even just recently, taxes were raised <a href="http://www.thesunchronicle.com/news/local_news/norfolk-homeowners-to-pay-more-in-taxes-with-board-s/article_e9a55cc8-7bcb-11e4-96e7-a7d5ce409fb1.html" target="_blank">in Winter 2014</a> and <a href="http://www.thesunchronicle.com/news/local_news/average-norfolk-homeowner-to-pay-additional-in-taxes-this-year/article_5ca35926-9e23-11e5-9074-3ba6d3e75018.html" target="_blank">in Winter 2015</a>. This indicates a spending problem. Federal and State spending may be beyond your control, but your voice makes a difference here in Norfolk. JUST SAY NO!</p>
</div>
